<p id="notice"><%= notice %></p>

<h1>Businesses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Location</th>
      <th>Phone</th>
      <th>Facebook</th>
      <th>Google</th>
      <th>Yelp</th>
      <th>Instagram</th>
      <th>Twitter</th>
      <th>Website</th>
      <th>Html</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
        <td><%= business.name %></td>
        <td><%= business.description %></td>
        <td><%= business.location %></td>
        <td><%= business.phone %></td>
        <td><%= business.facebook %></td>
        <td><%= business.google %></td>
        <td><%= business.yelp %></td>
        <td><%= business.instagram %></td>
        <td><%= business.twitter %></td>
        <td><%= business.website %></td>
        <td><%= business.html %></td>

        <td><%= link_to 'See More', business %></td>
        <% if current_user == business.user && user_signed_in? %>
        <td><%= link_to 'Edit', edit_business_path(business) %></td>
        <td><%= link_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>

      <p><%= image_tag business.image.url(:medium) %>
</p>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
<%= link_to 'New Business', new_business_path %>

<% end %>