

<h1 class="space-top-3 container">Supported Sonoma County Businesses</h1>

<p class=" container space-7 space-top-5 ma-p ma-p--default"> The following businesses below deserve our love. Please try your best to like them on their social media pages. It goes a long way in terms of PR & the success of their business... ❤️  <small><i class="fa fa-hashtag" aria-hidden="true"></i></small>SonomaProud <small><i class="fa fa-hashtag" aria-hidden="true"></i></small>AlwaysLove</p>

<div class="container">
<div class="row display-flex">
  <% @businesses.each_slice(3)  do |businesses| %>
    
    <% businesses.each  do |business| %>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="inner-col space-3 space-top-3">
          <img src="<%= business.image %>" class="img-responsive" alt="image of <%=business.name %>">
          <h2><strong><%= business.name %></strong><small> <i class="fa fa-check-circle verified-hex" aria-hidden="true"></i></small></h2>
          <h6><%= business.created_at.strftime('%b %d, %Y') %></h6>
          <p class="ma-p ma-p--small"> <%= raw(business.description).truncate(358) %> <%= link_to "read more", business %></p>
          <div class="social-media social-links social-media social-links ma-p ma-p--small space-4 space-top-4">
            <% unless business.facebook.blank? %>
              <a href="<%= business.facebook %>" class="ma-link--simple--minimal" target="_blank">
                <i class="fa fa-facebook fa-4" aria-hidden="true"></i>
                </a>
            <%end %>
            <% unless business.google.blank? %>
              <a href="<%= business.google %>" class="ma-link--simple--minimal" target="_blank">            
                <i class="fa fa-google-plus fa-4" aria-hidden="true"></i>
              </a>
            <% end %>            
            <% unless business.yelp.blank? %>
              <a href="<%= business.yelp %>" class="ma-link--simple--minimal" target="_blank">            
                <i class="fa fa-yelp fa-4" aria-hidden="true"></i>
              </a>
            <% end %>
            <% unless business.instagram.blank? %>
              <a href="<%= business.instagram %>" class="ma-link--simple--minimal" target="_blank">            
                <i class="fa fa-instagram fa-4" aria-hidden="true"></i>
                </a>
            <% end %>
            <% unless business.twitter.blank? %>
              <a href="<%= business.twitter %>" class="ma-link--simple--minimal" target="_blank">            
                <i class="fa fa-twitter fa-4" aria-hidden="true"></i>
                </a>
            <% end %>
          </div>
          <%= link_to "Get More Info", business, class: "ma-btn ma-btn--small ma-btn--minimal ma-btn--block space-1" %> 
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>