<h1 class="space-top-3 container">NorCal Fire Direct Relief Info</h1>
<h2 class="container"><small>Go-Fund-Me's for people in our community</small></h2>

<p class="container ma-p ma-p--default">This page is meant to support the people in our community who have lost a home or are in need of assistance due to the fire. If you can please donate to one of these go fund me pages. If you would like to see a google spreadsheet version of this <a href="https://docs.google.com/spreadsheets/d/1l3Q_YJ_JOd8LMgKn222_pViY_2evVr-iTjq6uxuzu9c/edit#gid=0" target="blank" rel="noopener">please click here.</a></p>

<div class="container">
<div class="row display-flex">
  <% @go_fund_mes.each_slice(3)  do |go_fund_me| %>
    
    <% go_fund_me.each  do |fund| %>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="inner-col space-3 space-top-3">
        <%= link_to fund, class: "link-reset" do %>
            <h4><strong><%= fund.campaign %></strong><small> <i class="fa fa-check-circle verified-hex" aria-hidden="true"></i></small></h4> <% end %>
            <h4><%= fund.beneficiary %></h4>
            <h6><%= fund.created_at.strftime('%b %d, %Y') %></h6>
                        <% if user_signed_in? && current_user == fund.user%> 
            <p class="space-top-3 space-3"><%= link_to 'Show More Options', fund %> </p>
            <% end %>   
             <div class="holds-the-iframe"><%= fund.embed.html_safe %></div>

                                             
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>