<div class="container">
<section class="forms-section container">
            <h2>User Profile</h2>
            <div class="row">
                <div class="col-xs-12 space-5">
                    <div class="ma-box">
                        <div class="ma-box__title">
                            Enter details about yourself
                        </div>
                        <div class="ma-box__content">
                            <form class="ma-form ma-form--basic">
                                
                                <h2>Edit <%= resource_name.to_s.humanize %></h2>

                                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                                  <%= devise_error_messages! %>

                                  <div class="field form-group">
                                    <%= f.label :email %>
                                    <%= f.email_field :email, autofocus: true, class: "ma-input ma-input--default", placeholder: "email" %>
                                  </div>

                                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                                  <% end %>

                                  <div class="field form-group">
                                    <%= f.label :password, "New Password" %> <i>(leave blank if you don't want to change it)</i>...  <em><%= @minimum_password_length %> characters minimum</em><br />
                                    <%= f.password_field :password, autocomplete: "off", placeholder: "New Password", class: "ma-input ma-input--default" %>
                                    <% if @minimum_password_length %>
                                      <br />
                                    <% end %>
                                  </div>

                                  <div class="field form-group">
                                    <%= f.label :password_confirmation, "New Password Confirmation (Type the new password again...)" %><br />
                                    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "New Password again", class: "ma-input ma-input--default" %>
                                  </div>

                                  <div class="field form-group">
                                    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                                    <%= f.password_field :current_password, autocomplete: "off", placeholder: "Type the current active password", class: "ma-input ma-input--default" %>
                                  </div>

                                  <div class="actions">
                                    <%= f.submit "Update", class: "ma-btn ma-btn--small ma-btn--primary" %>
                                  </div>
                                <% end %>

                                <h3>Cancel my account</h3>

                                <p>Unhappy? This can't be undone. All post will be lost. <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
                        </div>
                        <div class="ma-box__footer"></div>
                    </div>
                </div>
            </div>
        </section>
</div>