<div class="container">
<section class="forms-section container">
            <h2>Log into this website</h2>
            <div class="row">
                <div class="col-xs-12 space-5">
                    <div class="ma-box">
                        <div class="ma-box__title">
                            Remember...Always Love... #sonomastrong #sonomaproud
                        </div>
                        <div class="ma-box__content">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form_group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "ma-input ma-input--default", placeholder: "example@domain.com" %>
  </div>

  <div class="field form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: "ma-input ma-input--default", placeholder: "Password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field form-group ma-checkbox ma-checkbox--primary">
      <%= f.check_box :remember_me %> <span class="ma-label ma-label--simple ma-label--simple--default">Remember Me</span> 
      <%= f.label :remember_me, "(for future logins)" %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: "ma-btn ma-btn--default ma-btn--primary space-5" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>

                        </div>
                        <div class="ma-box__footer"></div>
                    </div>
                </div>
            </div>
        </section>
</div>
