<!DOCTYPE html>
<html class="" lang="en">
  <head>


<% if :meta_description.present? %>
    <meta content="<%= meta_description %>" name="description"/>
  <% else %>
    <meta name="description" content="Businesses in Sonoma, CA that helped evacuees and first responders during the fire relief efforts. These business demonstrate the loving community we have in Sonoma County. #SonomaProud" />
  <% end %>


    <meta content="<%= meta_keywords %>" name="keywords"/>
    

    <title> 
    <% if yield(:title).present? %>
        <%= yield(:title) %>
    <% else %>
        Sonoma, CA  Endorsed Businesses | List of Businesses That Helped The Fire Relief Efforts | #SonomaProud
    <% end %>
</title>



    <%= csrf_meta_tags %>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"><!--     STYLES     -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/99e7a6e2c6.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="mainApp margin-reset">

    <a class="screen-reader-only" href="#main-content">Skip to main content</a>

    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "ma-input ma-input--default ma-input--#{key}" %>
    <% end %>
     
     


    <!--=========================================-->
    <!--                 HEADER                  -->
    <!--=========================================-->
    <header class="ma-header ma-header--large">
        <div class="ma-header__logo-container">
            <a class="link-reset">
                <div class="content" style="padding: 0px 7px;">
                    <div>
    <input type="checkbox" id="checkbox" />
    <label for="checkbox">
      <svg id="heart-svg" viewBox="467 392 58 57" xmlns="http://www.w3.org/2000/svg"><g id="Group" fill="none" fill-rule="evenodd" transform="translate(467 392)"><path d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z" id="heart" fill="#AAB8C2"/><circle id="main-circ" fill="#E2264D" opacity="0" cx="29.5" cy="29.5" r="1.5"/><g id="grp7" opacity="0" transform="translate(7 6)"><circle id="oval1" fill="#9CD8C3" cx="2" cy="6" r="2"/><circle id="oval2" fill="#8CE8C3" cx="5" cy="2" r="2"/></g><g id="grp6" opacity="0" transform="translate(0 28)"><circle id="oval1" fill="#CC8EF5" cx="2" cy="7" r="2"/><circle id="oval2" fill="#91D2FA" cx="3" cy="2" r="2"/></g><g id="grp3" opacity="0" transform="translate(52 28)"><circle id="oval2" fill="#9CD8C3" cx="2" cy="7" r="2"/><circle id="oval1" fill="#8CE8C3" cx="4" cy="2" r="2"/></g><g id="grp2" opacity="0" transform="translate(44 6)" fill="#CC8EF5"><circle id="oval2" transform="matrix(-1 0 0 1 10 0)" cx="5" cy="6" r="2"/><circle id="oval1" transform="matrix(-1 0 0 1 4 0)" cx="2" cy="2" r="2"/></g><g id="grp5" opacity="0" transform="translate(14 50)" fill="#91D2FA"><circle id="oval1" transform="matrix(-1 0 0 1 12 0)" cx="6" cy="5" r="2"/><circle id="oval2" transform="matrix(-1 0 0 1 4 0)" cx="2" cy="2" r="2"/></g><g id="grp4" opacity="0" transform="translate(35 50)" fill="#F48EA7"><circle id="oval1" transform="matrix(-1 0 0 1 12 0)" cx="6" cy="5" r="2"/><circle id="oval2" transform="matrix(-1 0 0 1 4 0)" cx="2" cy="2" r="2"/></g><g id="grp1" opacity="0" transform="translate(24)" fill="#9FC7FA"><circle id="oval1" cx="2.5" cy="3" r="2"/><circle id="oval2" cx="7.5" cy="2" r="2"/></g></g></svg>
    </label>
  </div>
                </div>
            </a>
        </div>
        <div class="ma-header__search-container">
            <% if !user_signed_in? %>
            <form class="form-content">
                <div class="ma-search-bar">
                    <!-- <i class="ma-search-bar__icon" data-feather="search"></i> -->
                    <label aria-hidden="true" class="screen-reader-only">Sonoma County Strong!</label>
                    <input class="ma-search-bar__input" placeholder="#SONOMAPROUD" type="text" disabled>
                </div>
            </form>
            <% end %>
        </div>
        <div class="ma-header__nav-container">
            <nav>
                <ul class="ma-nav-list">
                <!-- SHOW THIS IF LOGGED IN -->
                <% if user_signed_in? %>
                    <li class="ma-nav-list__item">
                    <%= link_to (new_business_path) do %>
                        <button class="ma-nav-list__item__btn">New Post</button>
                    <% end %>
                    </li>
                    <li class="ma-nav-list__item">
                    <%= link_to destroy_user_session_path, method: :delete do %>
                        <button class="ma-nav-list__item__btn">Log Out</button>
                    </li>
                    <% end %>
                    <li>
                    <%= link_to edit_user_registration_path, :class => "ma-nav-list__item__btn link-reset"  do %>
                        
                            <div class="content">
                                <div class="ma-avatar ma-avatar--tiny ma-avatar--border-minimal round"><img alt="" height="32" src="" width="32"></div>
                            </div>
                        <% end %>
                    </li>
                    <% end %>
                </ul>
            </nav>
        </div>
    </header>
    <div class="ma-subnav ma-subnav--simple">
        <nav class="container">
            <div class="ma-subnav__item">
                <div class="content">
                    <%= link_to "Businesses", businesses_path %>
                </div>
            </div><span class="space-right-1 space-left-1">·</span>
            <div class="ma-subnav__item">
                <div class="content">
                    <%= link_to "Resources", welcome_resources_path %>
                </div>
            </div>
        </nav>
    </div>
    <div class="space-3"></div>
    <div class="ma-subnav ma-subnav--tabs">
        <nav class="container">
            <div class="ma-subnav__item space-right-4">
                <div class="content">
                    <%= link_to "Why", welcome_why_path, class: "link-reset" %>
                </div>
            </div>
            <div class="ma-subnav__item space-right-4">
                <div class="content">
                    <%= link_to "How", welcome_how_path, class: "link-reset" %>
                </div>
            </div>
            <div class="ma-subnav__item">
                <div class="content">                    
                    <%= link_to "Contact Us", welcome_feedback_path, class: "link-reset" %>
                </div>
            </div>
        </nav>
    </div>

    <main role="main" id="main-content" class="content-main">
    <%= yield %>
    </main>
  </body>
</html>
